# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

web/templates/2015-08-16-21-08-09-1853568433/index.html

web/templates/2015-08-16-21-08-09-1853568433/main.js

web/templates/2015-08-16-21-08-09-1853568433/style.css
